##----------idea----------
*.iml
.idea/
*.ipr
*.iws

######################
# 解决maven产生的文件
######################

target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Package Files #
*.jar
*.war
*.ear

######################
# 解决java产生文件
######################
*.class
