<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haotongxue.mapper.CountDownMapper">
<select id="getOpenIdByArg" resultType="java.lang.String">
    SELECT openid FROM t_user WHERE NO LIKE concat('__',#{arg},'__');
</select>
    <select id="concludeInsert" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_count_down WHERE openid = #{openId};
    </select>
</mapper>
