<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haotongxue.mapper.InfoMapper">
    <delete id="deleteByInfoId" parameterType="java.util.List">
        delete from t_info
        where info_id in
        <foreach item="infoId" collection="infoList" open="(" separator="," close=")">
            #{infoId,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <select id="getInfoByOpenidAndWeek" resultType="com.haotongxue.entity.Info">
        SELECT i.info_id,i.xingqi,i.week_str,i.section_str
        FROM t_info i LEFT JOIN t_user_info uf
--         ON i.info_id = uf.info_id COLLATE utf8mb4_unicode_ci
        ON i.info_id = uf.info_id
        LEFT JOIN t_info_week wf
--         ON i.info_id = wf.info_id COLLATE utf8mb4_unicode_ci
        ON i.info_id = wf.info_id
        WHERE uf.openid = #{openid}
        AND wf.week_id = #{week}
          AND i.is_deleted = 0
        ORDER BY i.xingqi

    </select>

    <select id="getSectionByInfoId" resultType="java.lang.Integer">
        SELECT s.section_id
        FROM t_info_section s
        WHERE s.info_id = #{infoId}
        AND s.section_id > 0
        AND s.is_deleted = 0
        ORDER BY s.section_id
    </select>
    <select id="getCourseNameByInfoId" resultType="java.lang.String">
        SELECT c.name
        FROM t_info_course ic
        LEFT JOIN t_course c
--         ON ic.course_id = c.course_id COLLATE utf8mb4_unicode_ci
        ON ic.course_id = c.course_id
        WHERE ic.info_id = #{infoId}
          AND ic.is_deleted = 0
    </select>
    <select id="getClassRoomByInfoId" resultType="java.lang.String">
        SELECT c.location
        FROM t_info_classroom ic
        LEFT JOIN t_classroom c
--         ON ic.classroom_id = c.classroom_id COLLATE utf8mb4_unicode_ci
        ON ic.classroom_id = c.classroom_id
        WHERE ic.info_id = #{infoId}
          AND ic.is_deleted = 0
    </select>
    <select id="getTeacherListByInfoId" resultType="java.lang.String">
        SELECT NAME
        FROM t_info_teacher it
        LEFT JOIN t_teacher t
--         ON it.teacher_id = t.teacher_id COLLATE utf8mb4_unicode_ci
        ON it.teacher_id = t.teacher_id
        WHERE it.info_id = #{infoId}
          AND it.is_deleted = 0
    </select>
    <select id="getWeekByToday" resultType="java.lang.Integer">
        SELECT (week_id - 1) week_id
        FROM t_week
        WHERE NOW() - start_time &lt;= 0
        LIMIT 1
    </select>

</mapper>
