<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haotongxue.mapper.InfoWeekMapper">


    <delete id="deleteByInfoId" parameterType="java.util.List">
        delete from t_info_week
        where info_id in
        <foreach item="infoId" collection="infoList" open="(" separator="," close=")">
            #{infoId,jdbcType=VARCHAR}
        </foreach>
    </delete>
</mapper>
