<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haotongxue.mapper.UserMapper">


    <delete id="deleteByInfoId">
        delete from t_user
        where openid = #{openid}
    </delete>


    <select id="selectZeroPa" resultType="java.lang.String">
        SELECT openid FROM t_user WHERE t_user.openid NOT IN (SELECT DISTINCT openid FROM t_user_info) AND t_user.is_pa=1;
    </select>

    <select id="selectPaing" resultType="com.haotongxue.entity.User">
        SELECT * FROM t_user WHERE is_paing=1;
    </select>
</mapper>
