<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haotongxue.mapper.UserMapper">


    <delete id="deleteByInfoId">
        delete from t_user
        where openid = #{openid}
    </delete>


    <select id="selectZeroPa" resultType="java.lang.String">
        SELECT openid FROM t_user WHERE t_user.openid NOT IN (SELECT DISTINCT openid FROM t_user_info) AND t_user.is_pa=1;
    </select>

    <select id="selectPaing" resultType="com.haotongxue.entity.User">
        SELECT * FROM t_user WHERE is_paing=1;
    </select>

    <select id="getOfOpenidByOpenid" resultType="java.lang.String">
        SELECT o.openid FROM t_official_user o LEFT JOIN t_user u ON o.unionid = u.union_id
        WHERE u.openid = #{openId}
    </select>getHasCourseWeekList

    <select id="getHasCourseWeekList" resultType="java.lang.Integer">
        SELECT t_info_week.week_id FROM t_user_info
            LEFT JOIN t_user ON t_user_info.openid = t_user.openid
            LEFT JOIN t_info ON t_user_info.info_id = t_info.info_id
            LEFT JOIN t_info_section ON t_user_info.info_id = t_info_section.info_id
            LEFT JOIN t_info_week ON t_user_info.info_id = t_info_week.info_id
        WHERE t_user.no = #{no}
          AND t_info_section.section_id = #{section}
          AND t_info.xingqi = #{xingqi}
        GROUP BY t_info_week.week_id
    </select>
</mapper>
